
.icon-demo:before { content: '\e800'; } /* '' */
.icon-github:before { content: '\e801'; } /* '' */
.icon-logo:before { content: '\e802'; } /* '' */
.icon-top:before { content: '\e803'; } /* '' */
.icon-uichina:before { content: '\e804'; } /* '' */
.icon-video:before { content: '\e805'; } /* '' */
.icon-zhanku:before { content: '\e806'; } /* '' */
.icon-eye:before { content: '\e807'; } /* '' */
.icon-html:before { content: '\e808'; } /* '' */
.icon-pc-phone:before { content: '\e809'; } /* '' */
.icon-phone:before { content: '\e80a'; } /* '' */